@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
	font-family: 'Roboto Mono', monospace;
}
.container {
	max-width: 60%;
	margin: 20px auto;
}
ul {
	padding: 0;
}
li {
	display: flex;
	padding:  10px;
	background-color: #f3f3f3;
	list-style: none;
	width:  100%;
	justify-content: space-between;
	align-items: center;
}
.delete__todo__button {
	background-color: #bfbfbf;
	border-radius: 10px;
	text-align: center;
	padding: 10px 20px;
	cursor: pointer;
	float: right;
}
.form {
	border:  1px solid #333;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	max-width: 60%;
}
.form input {
	padding: 10px;
	margin-top: 20px;
	width: 90%;
}
.form button {
	margin-top: 20px;
	width: 50%;
}
.btn {
	padding: 10px;
	text-decoration: none;
	color: #f3f3f3;
	background-color: #474747;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	border: none;
	border-radius: 15px;
}
