<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Todos App</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='master.css')}}">
</head>
<body>
	<div class="container">
		{% block main %}
		{% endblock main %}
	</div>
</body>
</html>