{% extends 'base.html' %}
{% block main %}
	<h1>Todos</h1>
	<a href="/add" class="btn">Add Todo</a>
	{% for todo in todos %}
		<ul>
			<li id="{{todo['todo']}}">
				{{ todo['todo'] }} by {{ todo['author'] }}
				<div class="delete__todo__button" onclick="window.location = `/delete/{{todo['todo']}}`">✖</div>
			</li>
		</ul>
	{% endfor %}
{% endblock main %}